scripts/downloaded_validation_script.sh
validation_results/**
fhirpkg.lock.json
*.vsix
*.zip
out/
.history
project.yaml
.simplifier/connection.settings.json
.simplifier/project.snapshot.json
Resources/scripts/pdf_files